
	<h2 class="section-title">{{ article.title|title }} News</h2>
	
	<div class="articles">
		{% for article in articles %}
		{% if article.image %}
		<div class="article-card">
			<img
				src="{{ article.image|default_if_none:'#' }}"
				alt="Article Image"
				class="article-image"
			/>
			<div class="article-details">
				<h3 class="article-title">{{ article.title }}</h3>
				<p class="article-summary">{{ article.summary }}</p>

				<div class="article-meta">
					<small>Source: {{ article.source }}</small><br />
					<small>Published on: {{ article.published|date:"M d, Y" }}</small>
				</div>
				<a href="{{ article.link }}" target="_blank" class="read-more"
					>Read more</a
				>
			</div>
		</div>
		{% endif %}
		{% empty %}
		<p>No articles found for this category.</p>
		{% endfor %}
	</div>

