.card2 {
    width: 300px; /* Adjust card width */
    height: 200px; /* Adjust card height */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.card-title2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.card-title2 h3 {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
}
